*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# otros:
hibernate.cfg.xml
hibernate.reveng.xml

*~
/dist/
/src/java/beans/VistaCliente.java
/web/clientes2.xhtml
/src/java/beans/ClienteBean2.java
/src/java/beans/NuevaCargaBean.java
/src/java/beans/NuevaVistaCarga.java
/src/java/util/FuncionLike.java
