#opciones
{
    padding-top: 50px;
    padding-left: 10%;
    padding-right: 10%;
}

#botonazo
{
    padding: 5px;
    text-align: left;
}

#confirmagestores, #nuevousuario, #buscausuarios
{
    margin-bottom: 50px;
}

/*#dialogoBuscarUsuarios{
    width: 700px;
}*/