<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://10.0.0.26:3306/sigerbd?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">cofradia</property>
    <property name="hibernate.connection.password">cofradiaDB</property>
    <mapping resource="mapeo/Gestiones.hbm.xml"/>
    <mapping resource="mapeo/Creditos.hbm.xml"/>
    <mapping resource="mapeo/CreditosRemesas.hbm.xml"/>
    <mapping resource="mapeo/Remesas.hbm.xml"/>
    <mapping resource="mapeo/Lineas.hbm.xml"/>
    <mapping resource="mapeo/Direcciones.hbm.xml"/>
    <mapping resource="mapeo/Autos.hbm.xml"/>
    <mapping resource="mapeo/Sujetos.hbm.xml"/>
    <mapping resource="mapeo/Contactos.hbm.xml"/>
    <mapping resource="mapeo/Usuarios.hbm.xml"/>
    <mapping resource="mapeo/Empresas.hbm.xml"/>
    <mapping resource="mapeo/Subproductos.hbm.xml"/>
    <mapping resource="mapeo/Clientes.hbm.xml"/>
    <mapping resource="mapeo/Telefonos.hbm.xml"/>
    <mapping resource="mapeo/Gestores.hbm.xml"/>
    <mapping resource="mapeo/Administrativos.hbm.xml"/>
    <mapping resource="mapeo/Productos.hbm.xml"/>
    <mapping resource="mapeo/Facs.hbm.xml"/>
    <mapping resource="mapeo/Emails.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
